@import './extraStyles/mixin.scss';


.layout{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    @include mq(35em){
        flex-direction: row;
        max-height: 80em;
        height: 100vh;
    }

}